/*--------------------------------------------------------------
# Global zero
--------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/
/* #header {
  display: none !important;
} */
.header {
  color: var(--default-color);
  background-color: var(--background-color);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0 15px;
  width: 300px;
  transition: all ease-in-out 0.3s;
  overflow-y: auto;
  z-index: 997;
  border-right: 1px solid
    color-mix(in srgb, var(--default-color), transparent 90%);
}

.header .profile-img img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid color-mix(in srgb, var(--default-color), transparent 85%);
  border-radius: 70px;
}

.header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  margin-bottom: 15px;
}

.header .logo img {
  max-height: 40px;
  margin: 30px 0;
}

.header .logo img:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.sitename p {
  margin: 20px;
  font-size: 26px;
  text-align: center;
}

.header .social-links {
  display: flex;
  justify-content: center;
  margin: 0 0 20px 0;
  gap: 10px;
}

.header .social-links img {
  width: 24px;
  height: auto;
}

.header .social-links a {
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: color-mix(in srgb, var(--default-color), transparent 90%);
  color: var(--default-color);
  margin: 0 2px;
  border-radius: 50%;
  text-align: center;
  width: 40px;
  height: 40px;
  transition: 0.3s;
}

.header .social-links a:hover {
  color: var(--contrast-color);
  background: var(--accent-color);
  transform: scale(1.1);
}

@media (min-width: 1200px) {
  .header ~ main,
  .header ~ #footer {
    margin-left: 300px;
  }
}

@media (max-width: 1199px) {
  .header {
    left: -100%;
  }
}

.header.header-show {
  left: 0;
}

.header .header-toggle {
  color: var(--contrast-color);
  background-color: var(--accent-color);
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 9999;
  transition: background-color 0.3s;
}

.header .header-toggle:hover {
  color: var(--contrast-color);
  background-color: color-mix(in srgb, var(--accent-color) 90%, white 15%);
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/

.menu-header-menu-container {
  padding: 0 0 20px;
  z-index: 9997;
}

.menu-header-menu-container ul {
  list-style: none;
  margin: 0;
}

.menu-header-menu-container a,
.menu-header-menu-container a:focus {
  color: var(--nav-color);
  padding: 15px 10px;
  font-family: var(--nav-font);
  font-size: 18px;
  font-weight: 400;
  display: flex;
  align-items: center;
  white-space: nowrap;
  transition: 0.3s;
  width: 100%;
}

.menu-header-menu-container a:hover,
.menu-header-menu-container a:focus {
  color: var(--accent-color);
  background-color: color-mix(in srgb, var(--accent-color), transparent 90%);
  transform: scale(1.05);
  border-radius: 10px;
}

.menu-header-menu-container a img,
.menu-header-menu-container a:focus img {
  font-size: 20px;
  margin-right: 10px;
}

.menu-header-menu-container ul li a i {
  padding-right: 10px;
}

/*--------------------------------------------------------------
# Global Footer
--------------------------------------------------------------*/
.footer {
  color: var(--default-color);
  background-color: color-mix(in srgb, var(--default-color), transparent 80%);
  font-size: 14px;
  padding: 20px 0 20px;
  position: relative;
  border-top: 1px solid;
}

.footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-quotes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.footer-quotes h3 {
  font-size: 23px;
  text-align: center;
  line-height: 40px;
  font-style: italic;
  color: var(--default-color);
}

.footer .footer-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.footer-logo a img {
  max-height: 50px;
  margin: 10px 0;
}

.footer-logo a img:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.footer .copyright p {
  margin-bottom: 0;
}

.footer .credits {
  margin-top: 4px;
  font-size: 13px;
  text-align: center;
}

.menu-footer-more-container ul li {
  color: var(--nav-color);
  padding: 15px 10px;
  font-family: var(--nav-font);
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.menu-footer-more-container ul li:hover {
  color: var(--accent-color);
  transform: scale(1.01);
}

.menu-footer-more-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  inset: 0;
  z-index: 999999;
  overflow: hidden;
  background: var(--background-color);
  transition: all 0.6s ease-out;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #ffffff;
  border-color: var(--accent-color) transparent var(--accent-color) transparent;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1.5s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Scroll Top Button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: -15px;
  z-index: 99999;
  background-color: var(--accent-color);
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: var(--contrast-color);
  line-height: 0;
}

.scroll-top:hover {
  background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
  color: var(--contrast-color);
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
  bottom: 15px;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }

  .menu-footer-more-container ul {
    flex-wrap: wrap;
    gap: 15px;
  }

  .menu-footer-more-container ul li {
    padding: 0;
    font-size: 14px;
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero img {
  position: absolute;
  inset: 1;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

/* .mirrored {
  transform: scaleX(-1)!important;
} */

.hero:before {
  content: "";
  background: color-mix(in srgb, var(--background-color), transparent 20%);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.hero .container {
  position: relative;
  z-index: 3;
  /* margin-left: 300px; */
}

.hero h2 {
  margin: 0 0 20px 0;
  font-size: 64px;
  font-weight: 700;
}

.hero p {
  margin: 5px 0 0 0;
  font-size: 26px;
  word-spacing: 10px;
}

.hero p span {
  letter-spacing: 1px;
  border-bottom: 2px solid var(--accent-color);
}

/* @media screen and (max-width: 1023px) {
  .hero .container {
    margin: auto;
  }
} */

@media screen and (max-width: 767px) {
  .hero .container {
    margin: auto;
  }

  .hero h2 {
    font-size: 32px;
  }

  .hero p {
    font-size: 20px;
  }
}

/* @media (max-width: 1200px) {
  .hero .container {
    margin: auto;
  }
} */

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about p {
  line-height: 25px;
}

.about img {
  width: 100%;
  border-radius: 10px;
}

.about .content h2 {
  font-weight: 700;
  font-size: 24px;
}

.about .content ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr 1fr));
  grid-column-gap: 100px;
  list-style: none;
  padding: 0;
}

.about .content ul li {
  display: flex;
  align-items: center;
  padding: 10px 0;
  width: 100%;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: var(--accent-color);
  line-height: 0;
}

/*--------------------------------------------------------------
# Stats Section
--------------------------------------------------------------*/

.stats .stats-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 30px;
  width: 100%;
}

.emoji-stat {
  display: flex;
  align-items: center;
  justify-content: center;
}
.emoji-stat img {
  max-width: 44px;
  height: auto;
}

.stats .stats-item i {
  color: var(--accent-color);
  display: block;
  font-size: 44px;
  float: left;
  line-height: 0;
}

.stats .stats-item .purecounter {
  color: var(--heading-color);
  font-size: 48px;
  line-height: 40px;
  display: block;
  font-weight: 700;
  margin-left: 20px;
}

.stats .stats-item p {
  color: color-mix(in srgb, var(--default-color), transparent 40%);
  padding: 15px 0 0 0;
  font-family: var(--heading-font);
  font-size: 14px;
}

/*--------------------------------------------------------------
# Skills Section
--------------------------------------------------------------*/
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  color: var(--heading-color);
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: var(--heading-font);
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: color-mix(in srgb, var(--default-color), transparent 90%);
  height: 10px;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: var(--accent-color);
}

/*--------------------------------------------------------------
# Resume Section
--------------------------------------------------------------*/
.resume .resume-title {
  color: var(--heading-color);
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}

.resume p{
  line-height: 25px;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid var(--accent-color);
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: color-mix(in srgb, var(--default-color), transparent 20%);
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: var(--background-color);
  border: 2px solid var(--accent-color);
}

  /* resume button */
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px; 
  border-radius: 4px;
  transition: all 150ms ease-in-out;
}  

.btn-outline-primary {
  color: #0d6efd;
  border-color: #0d6efd;
  background-color: transparent;
}

.btn-outline-primary:hover {
  color: white;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.download-button {
  display: flex;
  justify-content: center;
  margin: 30px  auto  50px;
}
